bottle==0.12.20
bottle-websocket==0.2.9
Eel==0.12.3
future==0.18.2
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==0.4.15
whichcraft==0.6.1
PyInstaller==6.0.0
altgraph==0.17
brython==3.8.8