bottle==0.12.20
bottle-websocket==0.2.9
Eel==0.12.3
future==0.18.3
gevent==20.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
whichcraft==0.6.1
PyInstaller==4.0.dev0+9dd34bdfba
altgraph==0.17
brython==3.8.8